version: "3.9"

volumes:
  postgres: {}

services:
  redis:
    container_name: redis
    image: redis:7.2.2
    ports:
      - "6379:6379"
    restart: on-failure

  postgres_db:
    container_name: postgres_db
    image: postgis/postgis:16-3.4
    volumes:
      - postgres:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=github_actions
    restart: on-failure

  partner_service:
    container_name: partner_service
    build:
      context: .
      dockerfile: docker/local.Dockerfile
    environment:
      - GITHUB_WORKFLOW=True
    command: poetry run python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres_db
      - redis
    restart: on-failure
